%h1 Listing groups

= form_tag groups_path, :method => 'get' do |f|  
  = text_field_tag :query, params[:query], placeholder: "Search groups...", class: "form-control"
  %button.btn.btn-default{:type => "button"} Go!

%table
  %thead
    %tr
      %th Group Name
      %th Description

  %tbody
    - @groups.each do |group|
      %tr
        %td= group.group_name
        %td= group.group_description
        %td= link_to 'Show', group
        %td= link_to 'Edit', edit_group_path(group)
        %td= link_to 'Destroy', group, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Group', new_group_path
