!!!
%html{lang: "en"}
  %head
    %title SORA
    

= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags

%body
  = render "layouts/header"
  / = render 'shared/error_messages'
  
  .notice
    = notice
  .alert
    = alert

  = yield

:css